@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: #fff;
}

body {
  background-image: url('./assets/Arcane6.webp');
  background-size: cover;
  background-position: center;
  font: clamp(0.5rem, 1rem, 1.5rem) 'Roboto', sans-serif;
  color: #fff;
  height: 100dvh;
}

/* !NAV */
nav {
  margin: 4rem 4rem 10rem;
  width: inherit;
  display: grid;
  grid: auto-flow dense 1fr / 4rem 1fr repeat(2, minmax(100px, 130px));
  gap: 1rem;

  & > * {
    padding: 1rem;
  }
}

.hiddenToggleButton {
  display: none;
}

.leftSide {
  display: grid;
  grid: auto-flow dense 1fr / repeat(3, minmax(100px, 1fr));
  border-radius: 0.3125rem;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -o-backdrop-filter: blur(5px);
  margin-right: 20dvw;
}

.dropdownContent,
.watchlistContent {
  display: none;
  position: absolute;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -o-backdrop-filter: blur(5px);
  border-radius: 0.3125rem;
}

.dropdown:hover .dropdownContent {
  display: grid;
  place-items: center;
  grid: repeat(3, 1fr) / 1fr;
  grid-auto-flow: row dense;
  grid-auto-rows: 1fr;
  cursor: pointer;
}

.watchlist:hover .watchlistContent {
  min-width: 13rem;
  gap: 0.625rem;
  padding: 0.625rem;
  display: grid;
  place-items: center;
  grid: 1fr / 1fr 2fr;
  grid-auto-flow: row dense;
  grid-auto-rows: 1fr;
  cursor: pointer;
}

.watchlistContentMedia {
  width: 3rem;
}

.watchlist {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -o-backdrop-filter: blur(5px);
  border-radius: 0.3125rem;
}

.signIn {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -o-backdrop-filter: blur(5px);
  border-radius: 0.3125rem;
  margin-right: 10%;
}

/* !SLIDE */

:is(
    .arcane0,
    .arcane1,
    .arcane2,
    .arcane3,
    .arcane4,
    .arcane5,
    .arcane6,
    .arcane7
  ) {
  width: 14rem;
  height: 7rem;
  object-fit: cover;
  border-radius: 0.3125rem;
}

.slideTopParent {
  width: 100%;
  position: relative;

  & .leftTopIcon {
    position: absolute;
    top: 30%;
    left: 5%;
    z-index: 1;
    cursor: pointer;
  }

  & .rightTopIcon {
    position: absolute;
    top: 30%;
    right: 5%;
    z-index: 1;
    cursor: pointer;
  }
}

.slideTop {
  position: relative;
  display: grid;
  grid: 1fr / repeat(4, minmax(100px, 1fr));
  gap: 1rem;
  justify-items: center;
  margin: 0 5%;

  & article {
    display: grid;
    grid: 3fr 1fr / auto-flow dense 1fr;
    justify-items: center;
  }

  & :is(.article4, .article5) {
    display: none;
  }
}

.slideBottomParent {
  width: 100%;
  position: relative;

  & .leftBottomIcon {
    position: absolute;
    top: 30%;
    left: 5%;
    z-index: 1;
    cursor: pointer;
  }

  & .rightBottomIcon {
    position: absolute;
    top: 30%;
    right: 5%;
    z-index: 1;
    cursor: pointer;
  }
}

.slideBottom {
  display: grid;
  grid: 1fr / repeat(4, minmax(100px, 1fr));
  gap: 1rem;
  justify-items: center;
  margin: 0 5%;

  & article {
    display: grid;
    grid: 3fr 1fr / auto-flow dense 1fr;
    justify-items: center;
  }

  & :is(.article2, .article3) {
    display: none;
  }
}

/* !R E S P O N S I V E */
@media screen and (768px < width <= 992px) {
  .leftSide {
    display: grid;
    grid: auto-flow dense 1fr / repeat(3, minmax(100px, 1fr));
    border-radius: 0.3125rem;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    -o-backdrop-filter: blur(5px);
    margin-right: 5dvw;
  }

  .slideTopParent {
    width: 100%;
    position: relative;

    & .leftTopIcon {
      position: absolute;
      top: 5dvh;
      left: 5%;
      z-index: 1;
      cursor: pointer;
    }

    & .rightTopIcon {
      position: absolute;
      top: 5dvh;
      right: 5%;
      z-index: 1;
      cursor: pointer;
    }
  }

  .slideTop {
    position: relative;
    display: grid;
    grid: 1fr / repeat(3, minmax(100px, 1fr));
    gap: 0.3125rem;
    justify-items: center;
    margin: 0 5%;

    & article {
      display: grid;
      grid: 3fr 1fr / auto-flow dense 1fr;
      justify-items: center;
    }

    & :is(.article3, .article4, .article5) {
      display: none;
    }
  }

  .slideBottom {
    display: grid;
    grid: 1fr / repeat(3, minmax(100px, 1fr));
    gap: 0.3125rem;
    justify-items: center;
    margin: 0 5%;

    & article {
      display: grid;
      grid: 3fr 1fr / auto-flow dense 1fr;
      justify-items: center;
    }

    & :is(.article2, .article3, .article4) {
      display: none;
    }
  }

  .slideBottomParent {
    width: 100%;
    position: relative;

    & .leftBottomIcon {
      position: absolute;
      top: 5dvh;
      left: 5%;
      z-index: 1;
      cursor: pointer;
    }

    & .rightBottomIcon {
      position: absolute;
      top: 5dvh;
      right: 5%;
      z-index: 1;
      cursor: pointer;
    }
  }
}

/* ! md 768 */
@media screen and (576px < width <= 768px) {
  nav {
    margin: 4rem 4rem 10rem;
    width: inherit;
    display: grid;
    grid: auto-flow dense 1fr / 4rem 2rem;
    gap: 1rem;

    & > * {
      padding: 1rem;
    }
  }

  .leftSide,
  .watchlist,
  .signIn {
    display: none;
  }

  .hiddenToggleButton {
    display: block;
    cursor: pointer;
    margin-left: 65dvw;
  }

  .slideTopParent {
    width: 100%;
    position: relative;

    & .leftTopIcon {
      position: absolute;
      top: 5dvh;
      left: 5%;
      z-index: 1;
      cursor: pointer;
    }

    & .rightTopIcon {
      position: absolute;
      top: 5dvh;
      right: 5%;
      z-index: 1;
      cursor: pointer;
    }
  }

  .slideTop {
    position: relative;
    display: grid;
    grid: 1fr / repeat(2, minmax(100px, 1fr));
    gap: 0.3125rem;
    justify-items: center;
    margin: 0 5%;

    & article {
      display: grid;
      grid: 3fr 1fr / auto-flow dense 1fr;
      justify-items: center;
    }

    & :is(.article2, .article3, .article4, .article5) {
      display: none;
    }
  }

  .slideBottom {
    display: grid;
    grid: 1fr / repeat(2, minmax(100px, 1fr));
    gap: 0.3125rem;
    justify-items: center;
    margin: 0 5%;

    & article {
      display: grid;
      grid: 3fr 1fr / auto-flow dense 1fr;
      justify-items: center;
    }

    & :is(.article2, .article3, .article4, .article5) {
      display: none;
    }
  }

  .slideBottomParent {
    width: 100%;
    position: relative;

    & .leftBottomIcon {
      position: absolute;
      top: 5dvh;
      left: 5%;
      z-index: 1;
      cursor: pointer;
    }

    & .rightBottomIcon {
      position: absolute;
      top: 5dvh;
      right: 5%;
      z-index: 1;
      cursor: pointer;
    }
  }
}

/* ! sm 576 */
@media screen and (width <= 576px) {
  nav {
    margin: 4rem 4rem 10rem;
    width: inherit;
    display: grid;
    grid: auto-flow dense 1fr / 4rem 2rem;
    gap: 1rem;

    & > * {
      padding: 1rem;
    }
  }

  .leftSide,
  .watchlist,
  .signIn {
    display: none;
  }

  .hiddenToggleButton {
    display: block;
    cursor: pointer;
    margin-left: 65dvw;
  }

  .slideTopParent {
    width: 100%;
    position: relative;

    & .leftTopIcon {
      position: absolute;
      top: 5dvh;
      left: 5%;
      z-index: 1;
      cursor: pointer;
    }

    & .rightTopIcon {
      position: absolute;
      top: 5dvh;
      right: 5%;
      z-index: 1;
      cursor: pointer;
    }
  }

  .slideTop {
    position: relative;
    display: grid;
    grid: 1fr / minmax(100px, 1fr);
    gap: 0.3125rem;
    justify-items: center;
    margin: 0 5%;

    & article {
      display: grid;
      grid: 3fr 1fr / auto-flow dense 1fr;
      justify-items: center;
    }

    & :is(.article1, .article2, .article3, .article4, .article5) {
      display: none;
    }
  }

  .slideBottom {
    display: grid;
    grid: 1fr / minmax(100px, 1fr);
    gap: 0.3125rem;
    justify-items: center;
    margin: 0 5%;

    & article {
      display: grid;
      grid: 3fr 1fr / auto-flow dense 1fr;
      justify-items: center;
    }

    & :is(.article2, .article3, .article4, .article5, .article6) {
      display: none;
    }
  }

  .slideBottomParent {
    width: 100%;
    position: relative;

    & .leftBottomIcon {
      position: absolute;
      top: 5dvh;
      left: 5%;
      z-index: 1;
      cursor: pointer;
    }

    & .rightBottomIcon {
      position: absolute;
      top: 5dvh;
      right: 5%;
      z-index: 1;
      cursor: pointer;
    }
  }
}
